.counter,
#container {
    border: 3px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    margin: auto;
}

#container {
    margin-top: 20px;
    padding: 40px;
    border-radius: 10px;
}

.counter:hover {
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}

#increment {
    font-size: large;
    border-radius: 10px;
    padding: 4px;
    ;
    margin-top: 10px;
    width: 150px;
    background-color: green;
}

#increment:hover {
    cursor: pointer;
    background-color: rgb(18, 32, 18);
    color: white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}

#decrement {
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;
    ;
    margin-bottom: 10px;
    text-align: center;
    width: 120px;
    background-color: red;
}

#decrement:hover {
    cursor: pointer;
    background-color: rgb(61, 14, 14);
    color: white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}

/* #count{ */
/* border:2px solid black;
    border-radius: 400px;
    width: 100px;
    text-align: center;
    font-size: 30px; */
/* }  */
#reset {
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;
    ;
    margin-bottom: 10px;
    text-align: center;
    width: 120px;
    background-color: orange;
}

#reset:hover {
    cursor: pointer;
    background-color: rgb(194, 130, 21);
    color: white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}

#showPassword {
    cursor: pointer;
    display: flex;
}

.eye {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#increase {
    border: 3px solid black;
    padding: 20px;
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px gray;
    text-align: center;
    font-size: 40px;

}

.inbtn {
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    ;
    margin-top: 10px;
    width: 100px;
    background-color: green;
    border: none;
}

.debtn {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    ;
    margin-bottom: 10px;
    text-align: center;
    width: 100px;
    background-color: red;
    border: none;
}

.resetbtn {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    ;
    margin-bottom: 10px;
    text-align: center;
    width: 100px;
    background-color: orange;
    border: none;
}

.inbtn:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 0);
    color: white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}

.debtn:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}

.resetbtn:hover {
    cursor: pointer;
    background-color: rgb(255, 162, 0);
    color: white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}

.signup {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.input2 {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid gray;
    padding-left: 10px;
    font-size: 16px;
}

.checkbtn {
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    ;
    margin-top: 10px;
    width: 150px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

input {
    border: 1px solid gray;
    box-shadow: 2px 2px 5px lightgray;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;

}

#paragraph,
#para {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 10px gray;

}

.box:hover {
    box-shadow: 4px 4px 15px gray;
    transition: all 0.4s ease;
}

.section1 {
    margin-bottom: 20px;
    border: 15px solid rgb(0, 0, 255);
    animation: infinite 5s linear;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;

}
.section1:hover {
    box-shadow: 4px 4px 15px rgb(0, 255, 204);
    transition: all 0.4s ease;          
}



.box2 {
    border: 10px solid rgb(0, 221, 255);
    padding: 20px;
    border-radius: 50px;
    margin: 10px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 10px gray;
}
.box2:hover {
    box-shadow: 4px 4px 15px gray;
    transition: all 0.4s ease;
}
.box3 {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 10px gray;
}
.box3:hover {
    box-shadow: 4px 4px 15px gray;
    transition: all 0.4s ease;
}